:root {
    --blue: #1e90ff;
}

.cursor-pointer {
    cursor: pointer
}

.hover-blue:hover {
    color: var(--blue)
}

.bold {
    font-weight: 500
}

.text-center {
    text-align: center
}

.drawer-toggle {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
}

.drawer-toggle:hover {
    color: var(--blue)
}

.login-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}