:root {
    --blue: #1e90ff;
}

[contenteditable] {
    outline: 0px solid transparent
}

.cursor-pointer {
    cursor: pointer
}

.hover-blue:hover {
    color: var(--blue)
}

.bold {
    font-weight: 500
}

.strong-bold {
    font-weight: 700
}

.small {
    font-size: 0.75rem
}

.strong-small {
    font-size: 0.5rem
}

.text-center {
    text-align: center
}

.d-flex {
    display: flex
}

.align-items-center {
    align-items: center
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column
}

.drawer-toggle {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
}

.drawer-toggle:hover {
    color: var(--blue)
}

.login-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}